.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container :global .ant-dropdown-trigger {
    background: var(--bg-color-2);
}

.tokensWrapper {
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color-2);
    margin-top: 30px;
    width: 224px;
    display: none;
}

.tokens {
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color-2);
    margin-top: 30px;
}

.tokenButton {
    margin-top: 20px;
}

.container input,
.container input:hover,
.container input:focus {
    background-color: var(--bg-color-2);
    border: none;
    outline: none;
    font-size: 24px;
    line-height: 29px;
    width: 120px;
}

.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stats {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 31px;
    color: var(--text-color-2);
    position: fixed;
    right: 50px;
    top: 190px;
}

.statTitle {
    font-family: Inconsolata;
    font-size: 30px;
}

.statsDetail {
    margin-top: 30px;
}

.statsDetail:nth-child(2) {
    margin-top: 42px;
}

.displayNone {
    display: none;
}

.leftPane {
    position: fixed;
    left: 0;
    top: 0;
    background: var(--bg-color-2);
    width: 288px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.logo {
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.logo span {
    margin-top: 15px;
}

.buttons {
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color-2);
    margin-top: 50px;
}

.linksWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 41px;
    justify-content: flex-end;
    margin-bottom: 95px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link svg {
    margin-left: 7px;
}

.stakeDescription1 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-color-1);
}

.stakeDescription2 {
    margin-top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-color-1);
    opacity: 80%;
    width: 390px;
}

.totalLockedValue .value {
    font-style: normal;
    font-weight: bold !important;
    font-size: 30px;
    line-height: 36px;
    color: #72F4A1;
}

.mainPane {
    margin-left: 38%;
    margin-top: 136px;
    /* display: flex;
    justify-content: center;
    width: 100%; */
}

.stakeBtnWrapper {
    position: relative;
}

.stakeBtn {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FF8B8B;
    border: 1px solid #FF8B8B;
    padding: 10px 15px;
    border-radius: 20px;
    position: absolute;
    bottom: -6px;
    right: 0;
    cursor: pointer;
}

.voteBtn {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FF8B8B;
    border: 1px solid #FF8B8B;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;
    width: fit-content;
}

.displayFlex {
    display: flex !important;
}

.infoModalWrapper {
    width: 478px;
    height: 100%;
    position: fixed;
    top: 0;
    left: calc(38% - 10px);
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoModal {
    width: 458px;
    padding: 39px 39px 25px 39px;
    background: #292929;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.modalTitle {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    color: #E8E8E8;
}

.modalDescription {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: rgba(232, 232, 232, 0.8);
    margin-top: 24px;
}

.closeBtn {
    width: 50px;
    height: 50px;
    background: #323232;
    border-radius: 26px;
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.startBtn {
    margin-top: 24px;
    background: transparent;
    color: #FF8B8B;
    border: 1px solid #FF8B8B;
    padding: 20px 15px;
    border-radius: 50px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    justify-content: center;
}

.startBtn:hover {
    background: #FF8B8B;
    color: #000000;
}

@media screen and (max-width: 1199px) {
    .leftPane {
        display: none;
    }

    .mainPane {
        margin-left: 20px;
    }

    .infoModalWrapper {
        left: 10px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .container input,
    .container input:hover,
    .container input:focus {
        font-size: 18px;
        line-height: 22px;
        width: 80px;
    }

    .maxBtn {
        font-size: 11px;
        line-height: 13px;
        border-radius: 15px;
        padding: 2px 8px;
        height: 25px;
    }

    .selectedToken {
        font-size: 13px;
        line-height: 16px;
    }

    .selectedToken svg {
        width: 18px;
    }

    .container :global .ant-dropdown-trigger {
        font-size: 13px;
        line-height: 16px;
    }

    .estimatedTop {
        font-size: 12px;
        line-height: 15px;
    }

    .info {
        font-size: 15px;
        line-height: 140%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .info svg {
        width: 15px;
    }

    .arrowWrapper {
        height: 50px;
    }

    .depositBtn {
        font-size: 13px;
        line-height: 16px;
    }

    .tokensWrapper {
        font-size: 18px;
        line-height: 22px;
        margin-top: 30px;
        width: 100%;
        display: block;
        border-bottom: 3px solid;
        border-color: rgba(232, 232, 232, 0.1);
        margin-top: 120px;
    }

    .tokens {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: scroll;
        padding-left: 42px;
        padding-right: 42px;
        /* padding-left: 5px;
        padding-right: 5px; */
        margin-bottom: -3px;
        z-index: 100;
    }

    .tokenButton,
    .tokenButton:first-child {
        margin-top: 0;
    }

    .stats {
        font-size: 18px;
        line-height: 22px;
        padding: 0 24px 40px 24px;
        position: inherit;
        margin-top: 40px;
    }

    .statsDetail {
        margin-top: 30px;
    }

    .statsDetail:nth-child(2) {
        margin-top: 42px;
    }

    .leftPane {
        display: none;
    }

    .mainPane {
        margin-left: 0;
        margin-top: 0px;
    }

    .container input,
    .container input:hover,
    .container input:focus {
        background-color: #000000;
    }

    .container :global .ant-dropdown-trigger {
        background: #000000;
    }

    .infoModalWrapper {
        left: 0;
        width: 100%;
    }
    .infoModal {
        left: 0;
        width: 100%;
    }
}
